$colors: (
  l-grey: (
    primary: #adadad,
    tertiary: #8f9ea6,
    secondary: #dfe3e84d,
  ),
  grey: (
    primary: #919eab,
    secondary: #637381,
    tertiary: #919eab,
  ),
  d-grey: (
    primary: #212b36,
    secondary: #454f5b,
    tertiary: #6a7c92,
    quaternary: #47495a,
  ),
  // light-bule-grey
  lb-grey:
    (
      primary: #c4cdd5,
    ),
  white: (
    primary: #ffffff,
    secondary: #f3f5f7,
    tertiary: #dee3e7,
    quaternary: #f9fafb,
  ),
  blue: (
    primary: #23c0f5,
    secondary: #4ad5f6,
  ),
);
.cc {
  color: #dfe3e84d;
}
