.main-header {
  padding: 12px 30px 13px;
  background-color: var(--clr-white-primary);
  border: 1px solid var(--clr-white-tertiary);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.menu-btn {
  width: 24px;
  height: 24px;
  line-height: 0;
  position: absolute;
  margin-right: 37px;
  top: calc(50% - 10px);

  & > :nth-child(1) {
    top: -1px;
  }
  & > :nth-child(2) {
    top: 7px;
  }
  & > :nth-child(3) {
    top: 15px;
  }
  & > :nth-child(4) {
    bottom: -1px;
  }
  &:hover &__bar-small {
    left: 8px;
  }
}
.menu-btn__bar,
.menu-btn__bar-small {
  height: 2px;
  background-color: var(--clr-grey-primary);
  position: absolute;
  left: 0;
  transition: left 300ms;
  cursor: pointer;
}

.menu-btn__bar-small {
  width: 16px;
}
.menu-btn__bar {
  width: 24px;
}

.main-header__logo {
  margin-left: 60px;
}
.main-header__right {
  @include flex-container();
}
.nav-holder,
.main-header__user,
.user__dropdown {
  @include flex-container($align-item: center);
}
.nav-holder {
  margin-right: 30px;
}
.nav-item {
  margin-right: 42px;
  font-size: 15px;

  & > a {
    color: var(--clr-grey-primary);
  }
  & > a:hover {
    color: var(--clr-d-grey-primary);
  }
}

.user__notify {
  margin-right: 23px;
  & > a {
    color: var(--clr-grey-primary);
    font-size: 24px;
  }
}

.user__picture {
  margin-right: 12px;
}
.user__name {
  color: var(--clr-d-grey-primary);
  font-size: 13px;
}
.user__dropdown-arrow {
  margin-left: 12px;
  color: var(--clr-secondary-gret);
  font-size: 16px;
}
